# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db